/* Start Variables */
:root {
  --main-color: #19c8fa;
  /* --main-color: #19fa89; */
  --text-color: #777;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px 0px;
  --duration: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 50px;
  position: relative;
  transition: var(--duration);
}
.main-heading h2:hover {
  color: var(--main-color);
  font-weight: bold;
  text-shadow: #333 2px 2px 2px;
}
.main-heading h2::before {
  content: "";
  width: 120px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transition: var(--duration);
  transform: translateX(-50%);
  background-color: #333;
}
.main-heading h2::after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: -29px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #333;
  transition: 0.5s;
}
.main-heading h2:hover::after,
.main-heading h2:hover::before {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.main-heading p {
  width: 70%;
  margin: 0 auto 100px;
  line-height: 1.6;
  color: var(--text-color);
}
@media (max-width: 767px) {
  .main-heading p {
    margin: 0 auto 50px;
  }
}
.link {
  padding: 15px 20px;
  text-decoration: none;
  display: block;
  width: fit-content;
  color: white;
  text-transform: uppercase;
  transition: var(--duration);
}
.link:hover {
  font-weight: bold;
  outline: 5px solid transparent;
  border-radius: 20px;
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::before {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  height: 2px;
  width: calc(100% - 30px);
  bottom: 8px;
  left: 15px;
  z-index: -1;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
  margin: 20px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% - 8px);
  left: 15px;
  width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.8);
}
header nav .toggle-menu:hover + ul a {
  padding: 15px;
}
header ul {
  display: flex;
}
@media (max-width: 768px) {
  header ul {
    display: none;
  }
}
header ul a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: var(--duration);
  padding: 30px 10px;
}
header ul a:hover {
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
@media (max-width: 768px) {
  header ul a:hover {
    margin-left: 20px;
    border-bottom: none;
  }
}
@media (max-width: 768px) {
  header ul li {
    border-bottom: 2px solid var(--main-color);
  }
}
header .form {
  margin-left: 15px;
  color: white;
  font-size: 20px;
  position: relative;
}
header .form::before {
  content: "";
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0px;
  left: -15px;
  background-color: white;
}
header .form input {
  display: none;
  position: absolute;
  right: 30px;
  bottom: -3px;
  width: 450px;
  height: 30px;
  border-color: var(--main-color);
}
header .form:hover input {
  display: inline-block;
}
/* End Header */

/* Start Landing */
.landing {
  height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  padding-left: 100px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    padding: 30px;
  }
}
.landing .text .content h2 {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
/* Arrows and circles */
.landing .overlay i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.landing .overlay i:first-of-type {
  left: 30px;
}
.landing .overlay i:last-of-type {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .overlay i {
    display: none;
  }
}
.landing .bullets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .bullets span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.landing .bullets .active {
  background-color: var(--main-color);
  border: none;
}
/* up button */
.up-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  z-index: 1;
}
.up-button a {
  color: var(--main-color);
}
/* End Landing */

/* Start Services */
.services {
  padding: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px 40px;
}
.services .srv {
  display: flex;
  transition: var(--duration);
}
@media (max-width: 767px) {
  .services .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .srv .text {
  flex: 1;
}
.services .srv h3 {
  margin: 0 0 20px;
  transition: calc(var(--duration) + 0.2s);
}
.services .srv:hover h3 {
  background-color: var(--main-color);
  width: fit-content;
  color: white;
  padding: 5px 10px;
}
@media (max-width: 767px) {
  .services .srv:hover h3 {
    background-color: var(--main-color);
    width: fit-content;
    color: white;
    padding: 5px 20px;
    margin: auto;
  }
}
.services .srv p {
  font-weight: 300;
  color: var(--text-color);
}
/* End Services */

/* Start Design */
.design {
  height: 600px;
  padding: var(--section-padding);
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {
  position: relative;
  flex: 1;
  z-index: 2;
}
.design .image img {
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(1);
  transition: var(--duration);
}
.design:hover .image img {
  filter: grayscale(0);
}
@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}
.design .text {
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
  line-height: 2;
}
.design .text h2 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.design ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f2b4";
  font-weight: 900;
  margin-right: 20px;
}
/* End Design */

/* Start Portfolio */
.portfolio {
  padding: var(--section-padding);
}
.portfolio .filter-type {
  display: flex;
  justify-content: center;
}
.portfolio .filter-type li {
  padding: 10px;
  transition: 0.5s;
}
.portfolio .filter-type .active,
.portfolio .filter-type li:hover {
  background-color: var(--main-color);
  color: white;
}
/* portfolio images */
.portfolio .images-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .portfolio .images-container .box {
    width: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .images-container .box {
    width: 25%;
  }
}
.portfolio .images-container .box img {
  max-width: 100%;
  transition: var(--duration);
}
.portfolio .box img:hover {
  transform: rotate(5deg) scale(1.2);
}
.portfolio .images-container .caption {
  background-color: white;
  width: 100%;
  padding: 20px;
  position: absolute;
  bottom: -100%;
  transition: var(--duration);
}
.portfolio .box:hover .caption {
  bottom: 0;
}
.portfolio .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  margin: 20px auto;
}
/* End Portfolio */

/* Start video */
.video {
  position: relative;
}
.video::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 40%);
}
.video video {
  width: 100%;
}
.video .text {
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 767px) {
  .video .text {
    padding: 10px;
  }
}
.video .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.video .text p {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .video .text h2,
  .video .text p {
    margin-bottom: 20px;
  }
}
.video .more {
  background-color: black;
  color: white;
}
/* End video */

/* Start About */
.about {
  padding: var(--section-padding);
  overflow: hidden;
  text-align: center;
}
.about img {
  position: relative;
  bottom: -220px;
  margin-top: -220px;
  max-width: 100%;
  filter: grayscale(1);
  transition: var(--duration);
}
.about:hover img {
  filter: grayscale(0);
}
@media (max-width: 320px) {
  .about img {
    bottom: -160px;
    margin-top: -160px;
  }
}
/* End About */

/* Start Statistics */
.statistics {
  padding: var(--section-padding);
  background-image: url(../images/stats.png);
  background-size: cover;
  text-align: center;
  position: relative;
}
.statistics::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.statistics .container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.statistics .container .box {
  color: white;
  background-color: var(--transparent-color);
  padding: 50px;
}
@media (max-width: 767px) {
  .statistics .container .box {
    flex-basis: 100%;
    border-bottom: 3px solid var(--transparent-color);
  }
}
@media (min-width: 768px) {
  .statistics .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .statistics .container .box {
    flex-basis: 25%;
  }
}
.statistics .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.statistics .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 20px 0px;
}
.statistics .box p {
  font-size: 14px;
}
/* End Statistics */

/* ==== Start Skills ==== */
.skills {
  padding: var(--section-padding);
}
.skills .container {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
}
@media (max-width: 768px) {
  .skills .container {
    flex-direction: column;
  }
}
/* Testimonials */
.skills .container .testimonials {
  position: relative;
}
.skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .skills .testimonials .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
}
.skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
.skills .testimonials .content .text {
  border-bottom: 2px solid #aaa;
  line-height: 1.6;
}
.skills .testimonials .content .text p {
  color: #777;
  text-align: right;
  margin-bottom: 5px;
}
/* three bullets */
.skills .testimonials .bullets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.skills .testimonials .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #aaa;
}
.skills .testimonials .bullets .active {
  background-color: var(--main-color);
  border: none;
}
/* Our Skills */
.our-skills .progress {
  margin-bottom: 30px;
}
.our-skills .progress h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.our-skills .progress .prog-bar {
  background-color: #aaa;
  height: 30px;
}
.our-skills .progress span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .progress span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  padding: 6px;
  top: -40px;
  right: -18px;
  text-align: center;
  border-radius: 6px;
}
.our-skills .progress span::after {
  content: "";
  width: 0px;
  height: 0px;
  border: 7px solid transparent;
  border-top-color: black;
  position: absolute;
  top: -10px;
  right: -6px;
}
/* ==== End Skills ==== */

/* Start Quote */
.quote {
  padding: var(--section-padding);
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
.quote q::before {
  font-family: "Font Awesome 6 Free";
  content: "\f10d   ";
  font-weight: 600;
}
.quote q::after {
  font-family: "Font Awesome 6 Free";
  content: "    \f10e";
  font-weight: 600;
}
/* End Quote */
